/** @format */

.swiperLoop {
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 200px;
}

.dark .swiperLoop {
  background-color: #444;
}

.swiperSlide {
  background-position: center;
  background-size: cover;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.3; 
  height: 120px;
}

.swiperLoop :global(.swiper-slide-active) {
  opacity: 1 !important;
}

.swiperLoop :global(.swiper-slide-prev),
.swiperLoop :global(.swiper-slide-next) {
  opacity: 0.6;
}

.swiperSlide img,
.swiperSlide iframe {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  /* object-fit: cover; */
  /* object-fit: contain; */
}

.swiperSlide p {
  text-align: center;
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 0.85rem;
}

.swiperSlide:hover {
  transform: scale(1.01);
}

.swiperSlide iframe {
  pointer-events: none; /* Disable pointer events by default */
}

.swiperSlide a {
  text-decoration: none;
  color: black;
}

.swiperSlide p:hover {
  opacity: 0.5;
}

.swiperLoop :global(.swiper-pagination) {
  position: absolute;
  text-align: center;
  margin-bottom: 40px;
}

.swiperLoop :global(.swiper-button-next),
.swiperLoop :global(.swiper-button-prev) {
  position: absolute;
  color: black;
  background-color: #ffffff50;
  width: 2rem;
  height: 2rem;
  top: 48%; /* Center the buttons vertically */
  transform: translateY(-50%);
  z-index: 10; /* Ensure buttons stay above the slides */
  cursor: pointer;
}

.swiperLoop :global(.swiper-button-next:hover),
.swiperLoop :global(.swiper-button-prev:hover) {
  background-color: #ffffff80;
}

.swiperLoop :global(.swiper-button-next::after),
.swiperLoop :global(.swiper-button-prev::after) {
  font-size: 15px;
}

.dark .swiperSlide p {
  color: white;
}

.dark .swiperLoop :global(.swiper-button-next),
.dark .swiperLoop :global(.swiper-button-prev) {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.dark .swiperLoop :global(.swiper-button-next:hover),
.dark .swiperLoop :global(.swiper-button-prev:hover) {
  background-color: rgba(0, 0, 0, 0.5);
}

/* .lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightboxImg {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
} */
