/** @format */
.swiperContainer {
  width: 100%;
  height: 100%;
}

.mySwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.dark .mySwiper {
  background-color: #444;
}

.swiperSlide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  transition: transform 0.3s ease;
}

.swiperSlide img, .swiperSlide iframe {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 100%;
}

.swiperSlide p {
  text-align: center;
  margin-top: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
}

.mySwiper :global(.swiper-pagination) {
  position: relative;
  margin-top: 60px;
}

.swiperSlide img:hover, .swiperSlide iframe:hover {
  transform: scale(1.01);
}

.swiperSlide iframe {
  pointer-events: none; /* Disable pointer events by default */
}

.swiperSlide a {
  text-decoration: none;
}

.swiperSlide p:hover {
  opacity: 0.5;
}

.dark .swiperSlide p {
  color: white;
}

.mySwiper :global(.swiper-button-next), .mySwiper :global(.swiper-button-prev) {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
  bottom: 300px;
  top: calc(52% - 1rem); /* Center vertically */
  transform: translateY(-50%);
}

.mySwiper :global(.swiper-button-next::after), .mySwiper :global(.swiper-button-prev::after) {
  font-size: 25px;
}

.dark .mySwiper :global(.swiper-button-next), .dark .mySwiper :global(.swiper-button-prev) {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
}

/* Responsiveness in smaller screens */
@media screen and (max-width: 1089px) {
  .swiperSlide {
    width: 290px;
    height: 290px;
  }
}

@media screen and (max-width: 426px) {
  .mySwiper :global(.swiper-button-next), .mySwiper :global(.swiper-button-prev) {
    display: none;
  }
}

@media screen and (max-width: 376px) {
  .swiperSlide {
    width: 275px;
    height: 275px;
  }
}

@media screen and (max-width: 350px) {
  .swiperSlide {
    width: 240px;
    height: 240px;
  }
}