/** @format */

.mySwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiperSlide {
  background-position: center;
  background-size: cover;
  width: 320px;
  height: 320px;
}

.swiperSlide img, .swiperSlide iframe {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 100%;
}

.swiperSlide p {
  text-align: center;
  margin-top: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mySwiper :global(.swiper-pagination) {
  position: relative;
  margin-top: 60px;
}

.swiperSlide img:hover, .swiperSlide iframe:hover {
  transform: scale(1.01);
}

.swiperSlide iframe {
  pointer-events: none; /* Disable pointer events by default */
}

.swiperSlide a {
  text-decoration: none;
  color: black;
}

.swiper-slide p:hover {
  opacity: 0.5;
}

/* Responsiveness in smaller screens */
@media screen and (max-width: 1089px) {
  .swiperSlide {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 376px) {
  .swiperSlide {
    width: 275px;
    height: 275px;
  }
}

@media screen and (max-width: 350px) {
  .swiperSlide {
    width: 240px;
    height: 240px;
  }
}